In [5]:
import pandas as pd
import numpy as np
from pandas_datareader.data import DataReader
from datetime import date
import matplotlib.pyplot as plt
import urllib

In [7]:
dls = "https://assets.datacamp.com/production/repositories/993/datasets/2dad49608ef2966bcd0fb209bafb3b365271c7c2/listings.xlsx"
urllib.request.urlretrieve(dls, "listings.xlsx")

('listings.xlsx', <http.client.HTTPMessage at 0x1a365cf3dc8>)

In [10]:
xls = pd.ExcelFile('listings.xlsx')

In [12]:
exchanges = xls.sheet_names

In [15]:
listings = []
for exchange in exchanges:
    listing = pd.read_excel(xls, sheet_name=exchange, na_values='n/a')
    listing['Exchange'] = exchange
    listings.append(listing)

In [16]:
listing_data = pd.concat(listings)

In [17]:
listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6674 entries, 0 to 3146
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Stock Symbol           6674 non-null   object
 1   Company Name           6674 non-null   object
 2   Last Sale              6590 non-null   float64
 3   Market Capitalization  6674 non-null   float64
 4   IPO Year               2852 non-null   float64
 5   Sector                 5182 non-null   object
 6   Industry               5182 non-null   object
 7   Exchange               6674 non-null   object
dtypes: float64(3), object(5)
memory usage: 469.3+ KB

In [18]:
listing_data.head()

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Exchange
0,XXII,"22nd Century Group, Inc",1.3300,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,amex
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.0000,1.266333e+09,1986.0,NaN,NaN,amex
2,IAF,Aberdeen Australia Equity Fund Inc,6.1500,1.398653e+08,NaN,NaN,NaN,amex
3,CH,"Aberdeen Chile Fund, Inc.",7.2201,6.756346e+07,NaN,NaN,NaN,amex
4,ABE,Aberdeen Emerging Markets Smaller Company Oppo...,13.3600,1.288430e+08,NaN,NaN,NaN,amex

In [19]:
listing_data.to_csv('listings.csv')